@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
 box-sizing: border-box;
}
:root {
-fixed-header-height: 4.5rem;
}
body {
 width: 100%;
 height: 100vh;
 overflow-x: hidden;
 background-color: #fafbfb;
}
ul li {
 list-style-type: none;
}
a {
 text-decoration: none;
}
button {
 background-color: transparent;
 border: none;
 outline: none;
 cursor: pointer;
}
.container {
    width: 100%;
   }
   @media screen and (min-width: 1040px) {
    .container {
    width: 1040px;
    margin: 0 auto;
    }
   }
   .header {
    height: var(-fixed-header-height);
    padding: 0 1.7rem;
   }
   .nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .logo h1 {
    margin: 20px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.logo .next{
    font-family: 'Dancing Script', cursive;
    color: #ff9204;
}
   .nav_menu_list {
    display: flex;
    align-items: center;
   }
   .nav_menu_list .nav_menu_item {
    margin: 0 2rem;
   }
   .nav_menu_item .nav_menu_link {
    font-size: 16.5px;
    line-height: 27px;
    color: black;
    text-transform: capitalize;
    letter-spacing: 0.5px;
   }
   .nav_menu_link:hover {
    color: rgb(255, 163, 57);
   }
   .toggle_btn {
    font-size: 20px;
    font-weight: 600;
    color: var(-lg-heading);
    z-index: 4;
   }
   .nav_menu,
   .close_btn {
    display: none;
   }
   .show {
    right: 3% !important;
   }
   @media screen and (min-width: 768px) {
    .toggle_btn {
    display: none;
    }
    .nav_menu {
    display: block;
    }
   }
   @media screen and (max-width: 768px) {
    .logo h2 {
    font-size: 23px;
    }
    .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
    }
    .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
    }
    .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
    }
    .nav_menu_item .nav_menu_link {
    font-size: 18px;
    }
   }
   .wrapper {
    width: 100%;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
   }
   .grid-cols-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
   }
   .grid-item-1 {
    padding-top: 5rem;
    padding-left: 1.5rem;
   }
   .main-heading {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
   }
   .main-heading span {
    color: var(-primary-color);
   }
   .info-text {
    margin-top: 1.5rem;
    font-size: 17px;
    line-height: 25px;
    color: #334157;
   }
   .btn_wrapper {
    margin-top: 3.5rem;
    display: flex;
    width: 100%;
   }
   .btn {
    width: 110px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.4s;
   }
   .btn:hover {
    transform: translateY(-3px);
    background-color: var(-btn-hover-color);
   }
   .view_more_btn {
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 500;
    margin-right: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
   }
   .view_more_btn i {
    margin-left: 0.7rem;
   }
   .view_more_btn:hover {
    transition: box-shadow 0.25s ease, transform 0.25s ease;
   }
   .documentation_btn {
    width: 150px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    background-color: #ffd6b0;
    color: black;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
   }
   .documentation_btn:hover {
    background-color: #d7ddf1;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
   }
   .grid-item-2 {
    width: 100%;
    height: 100%;
   }
   .hr{
       color: red;
   }
   .grid-item-2 .social-icons{
       position: absolute;
       top: 85%;
       left: 62%;
   }
   .grid-item-2 .social-icons .fab{
       font-size: 30px;
       margin: 0 10px;
   }
   .grid-item-2 .social-icons .fa-instagram:hover{
       color: #bc2a8d;
   }
   .grid-item-2 .social-icons .fa-discord:hover{
    color: #2c51d8;
    }
    .grid-item-2 .social-icons .fa-facebook:hover{
        color: #4267B2;
        }
        .grid-item-2 .social-icons .fa-twitter:hover{
            color: #00acee;
            }
   .grid-item-2 .social-icons .fab:hover{
       transition: 0.25s ease-in-out;
       cursor: pointer;
   }
   .team_img_wrapper {
    width: 500px;
    max-width: 100%;
    height: 440px;
   }
   .team_img_wrapper img {
       position: relative;
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-left: 40px;
    margin-top: 10%;
   }
   @media screen and (max-width: 768px) {
    .logo h2 {
    font-size: 23px;
    }
    .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-image: linear-gradient(#ff9204, #ffd49b);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
    }
    .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
    }
    .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
    }
    .nav_menu_item .nav_menu_link {
    font-size: 18px;
    }
    .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: black;
    }
    .close_btn:hover {
    color: #000;
    }
   .wrapper {
    padding: 0 0.7rem;
    }
    .grid-item-1 {
    padding-left: 0rem;
    }
    .main-heading {
    font-size: 35px;
    }
    .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
    }
    .grid-item-2 .social-icons{
        position: absolute;
        top: 85%;
        left: 20%;
    }
   }
   @media screen and (max-width: 991px) {
    .wrapper {
    padding-top: 3rem;
    }
    .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    }
    .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    }
    .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
    }
    .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .team_img_wrapper {
    width: 350px;
    height: 350px;
    }
    .grid-item-2 .social-icons{
        position: absolute;
        top: 85%;
        left: 20%;
    }
   }