body {
    background: rgb(255, 163, 57);
    margin: 0px;
    box-sizing: border-box;
}

.title {
    color: black;
    font-family: 'Raleway';
    font-size: 1.3em;
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    margin-top: 30px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.card {
    height: 380px;
    width: 300px;
    padding: 20px 35px;
    border-radius: 10px;
    background: rgb(255, 244, 232);
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card .icon {
    font-size: 64px;
    display: block;
    text-align: center;
    color: rgb(49, 49, 49);
    margin-top: 18px;
}

.card h1 {
    font-family: 'Raleway';
    text-align: center;
    color: black;
    font-size: 22px;
}

.card .button {
    background: rgb(49, 49, 49);
    color: #fffaf7;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 15px;
    margin-top: 25px;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 16px;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card .content p {
    font-size: 14px;
    color: #535c68;
    line-height: 20px;
    font-family: 'century gothic';
}

.card:hover {
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: rotate 0.7s ease-in-out both;
}

.card:before,
.card:after {
    content: " ";
    background: rgb(255, 141, 10);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: -80px;
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
    transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card:hover:hover,
.card:hover:after {
    opacity: 0.9;
}

.card:hover:before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

.card:hover:after {
    transform: translate(50%, 0) scale(1.1);
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/*responsive*/

@media(max-width:900px) {
    .title {
        width: 100%;
    }
    .title h1 {
        font-size: 20px;
    }
    .services {
        flex-direction: column;
    }
}